/* styles.css */
.accordion-item {
  border: 1px solid #ddd;
  margin: 5px 0;
}

.accordion-title {
  background-color: #f7f7f7;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  padding: 10px;
  border-top: 1px solid #ddd;
}
